body{
    color: red;
    background: blue;
    margin: 0px;
    font-family: "Luckiest Guy", cursive;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px yellow;
    padding: 20px;
    font-size: 40 px;
    color:white;
}

.chamada{
    background: yellow;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-video img{
    opacity: 0.5;
    height: 200px;
}

.categoria-video img:hover{
    opacity: 1.0;
    border: 3px solid yellow;
}

.categoria h2{
    color: white;
}
